li.comment {
	list-style: none;
	article.comment {
		footer {
			margin-bottom: 15px !important;
		}
		.reply {
			text-align: right;
		}
	}
}
#comments {
	.comment-form-comment {
		textarea {
			height: 200px;
		}
	}
	.required {
		color: red;
	}
}